<!-- <h1 class="text-center">Bateau Thibault</h1> -->
<!-- 
<div class="row justify-content-md-center">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Details Produit</h5>
                <hr class="solid">
                <p class="card-text">Afficher les details d'un produit</p>
                <a routerLink="/detailsProduit" class="btn btn-primary">Envoyer</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gérer les Produit</h5>
                <hr class="solid">
                <p class="card-text">Gérer tous les produits</p>
                <a routerLink="/manageStock" class="btn btn-primary">Envoyer</a>
            </div>
        </div>
    </div>
</div> -->

<!-- 
<div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
</div> -->

<!-- <canvas id="myChart" width="700" height="400"></canvas> -->

<div class="center">

    <button
class="btn-outline-dark horizontal-space"
(click)="changeGraphAnnee()"
>
Année
</button>

<button
class="btn-outline-dark horizontal-space"
(click)="changeGraphSemaine()"
>
Semaine
</button>

</div>

<div *ngIf="bool; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <div class="chart-wrapper center">
    <canvas
      baseChart
      [datasets]="barChartDataYear"
      [labels]="barChartLabelsYear"
      [options]="barChartOptions"
      [plugins]="barChartOptions"
      [colors]="lineChartColors"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>

  </ng-template
>
<ng-template #elseBlock>
  <div class="chart-wrapper center">
    <canvas
      baseChart
      [datasets]="barChartDataWeek"
      [labels]="barChartLabelsWeek"
      [options]="barChartOptions"
      [plugins]="barChartOptions"
      [colors]="lineChartColors"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
</ng-template>
