<!-- <h1 class="text-center" style ="margin-bottom:90px">Modification simultanée de produits</h1> -->
<nav class="navbar navbar-expand-md navbar-light sm-dark mb-4" style="  background-color: #749cdd; padding-bottom: 0px;padding-top: 0px;">
  <div class="container-fluid" style="padding-left: 0px;padding-right: 0px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="text-bold collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <!-- <li class="nav-item">
          <a routerLinkActive=anavlink class="nav-link" aria-current="page" routerLink="/login">Login</a>
        </li> -->
        <li class="nav-item">
          <a routerLinkActive=anavlink class="nav-link" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive=anavlink class="nav-link" aria-current="page" routerLink="/detailsProduit">Details Produit</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive=anavlink class="nav-link" aria-current="page" routerLink="/manageStock">Gérer les produits</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="dropdown text-center margin-bottom-space">
  <button
    class="btn btn-light dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <!-- {{ categories[0].nameCategory }} -->
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li *ngFor="let item of categories">
      <button class="dropdown-item" (click)="onSelectProduct(item)">
        {{ item.nameCategory }}
      </button>
    </li>
  </ul>
</div>

<div class="row justify-content-md-center container-fluid center">
  <div class="row">
    <!-- Boucle for -->
    <!-- <div *ngFor="let category of categories"> -->
    <h1 class="card-title" style="text-align: center">
      {{ category.nameCategory }}
    </h1>
    <div class="card">
      <div class="card-body justify-content-md-center">
        <table class="table container-fluid justify-content-md-center">
          <thead class="table container-fluid justify-content-md-center">
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prix</th>
              <th scope="col">Promotion</th>
              <th scope="col">Quantité</th>
              <th scope="col">Vendus</th>
              <th scope="col">Commentaires</th>
              <th scope="col">
                Modifier <br />
                Stock
              </th>
              <th scope="col">
                Modifier <br />
                promo
              </th>
            </tr>
          </thead>
          <tbody class="table container-fluid justify-content-md-center">
            <tr *ngFor="let product of category.products">
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.discount }}</td>
              <td>{{ product.quantityInStock }}</td>
              <td>{{ product.nombre_produit_vendu }}</td>
              <td>{{ product.comments }}</td>
              <td>
                <input
                  type="number"
                  class="small-input"
                  id="newQuantity"
                  placeholder=""
                  [(ngModel)]="newQuantity[product.tig_id]"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="small-input"
                  id="newPromotion"
                  placeholder="%"
                  [(ngModel)]="newPromotion[product.tig_id]"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- </div> -->
    <!-- fin boucle for -->
  </div>
  <a
    class="myFloat btn-outline-dark horizontal-space"
    style="width: 10%; margin-top: 30px"
    (click)="modifyStock()"
    >Modifier stock</a
  >
</div>
