<h1 class="text-center" style ="margin-bottom:90px">Modification simultanée de produits</h1>

<div class="row justify-content-md-center container-fluid">
  <div class="row">
    <!-- Boucle for -->
  <div *ngFor="let category of categories">
    <h5 class="card-title" style="text-align:center">{{category.name}}</h5>
    <div class="card">
      <div class="card-body justify-content-md-center">
        <table class="table container-fluid justify-content-md-center">
          <thead class="table container-fluid justify-content-md-center">
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prix</th>
              <th scope="col">Promotion</th>
              <th scope="col">Quantité</th>
              <th scope="col">Vendus</th>
              <th scope="col">Commentaires</th>
              <th scope="col">Ajout <br> Stock</th>
              <th scope="col">Ajout <br> promo</th>
            </tr>
          </thead>
          <tbody class="table container-fluid justify-content-md-center">
            <tr *ngFor="let product of category.products">
              <td>{{product.name}}</td>
              <td>{{product.price}}</td>
              <td>{{product.discount}}</td>
              <td>{{product.quantityInStock}}</td>
              <td>{{product.nombre_produit_vendu}}</td>
              <td>{{product.comments}}</td>
              <td>
                <input type="number" class="small-input"  id="newQuantity" placeholder="..." [(ngModel)]='newQuantity[product.tig_id]'>
              </td>
              <td>
                <input type="number" class="small-input" id="newPromotion" placeholder="%" [(ngModel)]='newPromotion[product.tig_id]'>
              </td>
             
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- fin boucle for -->
</div>

<a class="btn btn-primary" style="width:10%; margin-top:30px" (click)="modifyStock()">Modifier stock</a>